@import "https://fonts.googleapis.com/css?family=Raleway:100,300,600";
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: gray;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  background:white;
}
.jumbotron {  background: url(background.jpg) no-repeat center center; 
   background-size: cover; 
   height:30em;
   color:white;
   
   width: 100%;
   

} 
.mar{ 
margin-top:10px;
}
h2{ font-family: "Raleway", Arial, Helvetica, sans-serif; 
color:black;} 
p{ font-family: "Raleway", Arial, Helvetica, sans-serif; }

  .jumx { 
  padding-top:100px;
  padding-left:50px;
  padding-right:50px;
  height: 300px;
  width:100%;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
		font-size: 20pt;
		font-weight: 400;
text-align:center;
margin-bottom:20px;
  background: url(background.jpg); }
  #zz{ 
  background-color:white;
  margin-top:5em;
  }
  #qq{ 
  background-color:white;
  margin-top:7em;
  }
  #nn{ 
  background-color:white;
    margin-top:5em;
  
  }
   #mm{ 
  background-color:white;
    margin-top:7em;
  
  }
  #bb{ 
  background-color:white;
  margin-top:5em;
  }
   #ff{ 
  background-color:white;
  }
  .col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}